{#
This file is part of EC-CUBE

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

http://www.ec-cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% extends 'default_frame.twig' %}

{% set body_class = 'registration_page' %}

{% form_theme form 'Form/form_div_layout.twig' %}

{% block stylesheet %}
    <link rel="stylesheet" href="{{ asset('assets/css/contents.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ asset('assets/css/sp_top.css') }}" type="text/css">
    <style>
        form {
            margin-top: 30px
        }
        .form td.d-flex {
            display: flex;
            flex-wrap: wrap;
        }
        .form td.d-flex input {
            width: 211px;
        }
        
        span.yubin {
            margin: 0.5714285em;
            padding: 5px 20px;
            background: #efefef;
            border: 0;
            border-radius: 3px;
            -webkit-border-radius: 3px;
            -moz-border-radius: 3px;
            cursor: pointer;
        }
        span.yubin:hover {
            background-color: #ddd;
        }
        a.btn-kind1, a.btn-kind1:hover {
            color: #ea6968
        }
        button {
            padding: 15px 3em;
            background-color: #43b8a5;
            color: #FFF;
            border: 1px;
            cursor: pointer;
            margin: 0 3px;
            font-family: source-han-sans-cjk-ja, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
            border-radius: 3px;
            -webkit-border-radius: 3px;
            -moz-border-radius: 3px;
            font-size: 16px;
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            width: 200px;
            height: auto;
        }
        .agreement {
            margin-top: 20px;
            margin-left: 15px;
            display: flex;
            align-items: center;
        }
        @media screen and (max-width: 768px) {
            .form td.d-flex input {
                width: calc(50% - 3px);
            }
        }
    </style>
{% endblock %}

{% block javascript %}
    <script src="//yubinbango.github.io/yubinbango/yubinbango.js" charset="UTF-8"></script>
{% endblock javascript %}


{% block main %}
    <article id="main_wrap">
        <div id="breadcrumb">
            <ul>
                <li><a href="{{ url('homepage') }}">ホーム</a></li>
                <li>新規会員登録</li>
            </ul>
        </div>
        <section class="section form">
            <h1 class="lv_h1"><span>新規会員登録</span></h1>
            <div id="memberpages">
                <div id="newmember">
                    <div class="header_explanation">
                        <ul>
                            <li>この新規会員登録より送信いただく、個人情報の取り扱いにつきましては細心の注意を払っております。</li>
                            <li>お預かりしたお客様の情報は本人様へのお問い合わせ内容についてのご返答や情報のご提供の目的であり、他の目的に使用することはございません。詳しくは「プライバシーポリシー」をご覧ください。</li>
                            <li>「必須」印の付いている項目は必須となっております。漏れなくご記入ください。</li>
                            <li>英数字は半角での記入をお願いいたします。</li>
                        </ul>
                    </div><!-- .header_explanation -->
                    <div class="error_message"></div>
                    <form method="post" action="{{ url('entry') }}" novalidate class="h-adr">
                        <span class="p-country-name" style="display:none;">Japan</span>
                        {{ form_widget(form._token) }}
                        <table class="lineBtm">
                            <tbody>
                                <tr>
                                    <th>会社名</th>
                                    <td>
                                        {{ form_widget(form.company_name, { 'attr': { 'placeholder': '' }}) }}
                                        {{ form_errors(form.company_name) }}
                                    </td>
                                </tr>
                                <tr>
                                    <th>お名前<span class="hissu">必須</span></th>
                                    <td class="d-flex">
                                        {{ form_widget(form.name.name01, { 'attr': { 'placeholder': '' }}) }}
                                        {{ form_widget(form.name.name02, { 'attr': { 'placeholder': '' }}) }}
                                        {{ form_errors(form.name.name01) }}
                                        {{ form_errors(form.name.name02) }}
                                    </td>
                                </tr>
                                <tr>
                                    <th>フリガナ<span class="hissu">必須</span></th>
                                    <td class="d-flex">
                                        {{ form_widget(form.kana.kana01, { 'attr': { 'placeholder': '' }}) }}
                                        {{ form_widget(form.kana.kana02, { 'attr': { 'placeholder': '' }}) }}<br/>
                                        {{ form_errors(form.kana.kana01) }}
                                        {{ form_errors(form.kana.kana02) }}
                                    </td>
                                </tr>
                                <tr>
                                    <th>電話番号<span class="hissu">必須</span></th>
                                    <td>
                                        {{ form_widget(form.phone_number, { 'attr': { 'placeholder': 'ハイフン不要' } }) }}
                                        {{ form_errors(form.phone_number) }}
                                    </td>
                                </tr>   
                                {# <tr>
                                    <th>Fax</th>
                                    <td>
                                        {{ form_widget(form.fax, { 'attr': { 'placeholder': '' } }) }}
                                        {{ form_errors(form.fax) }}
                                    </td>
                                </tr> #}
                                <tr>
                                    <th>住所<span class="hissu">必須</span></th>
                                    <td>〒 {{ form_widget(form.postal_code, { 'attr': { 'class': 'zip p-postal-code', 'placeholder': 'ハイフン不要' } }) }}
                                        {{ form_errors(form.postal_code) }}
                                        {{ form_widget(form.address.pref) }}
                                        {{ form_errors(form.address.pref) }}
                                        {{ form_widget(form.address.addr01, { 'attr': { 'placeholder': '市区町村名' } }) }}
                                        {{ form_errors(form.address.addr01) }}
                                        {{ form_widget(form.address.addr02, { 'attr': { 'placeholder': '番地・ビル名など' } }) }}
                                        {{ form_errors(form.address.addr02) }}
                                    </td>
                                </tr>
                                <tr>
                                    <th>メールアドレス<span class="hissu">必須</span></th>
                                    <td>
                                        {{ form_widget(form.email.first, { 'attr': { 'placeholder': '' }}) }}
                                        {{ form_errors(form.email.first) }}<br/>
                                        {{ form_widget(form.email.second, { 'attr': { 'placeholder': 'common.repeated_confirm' }}) }}
                                        {{ form_errors(form.email.second) }}
                                    </td>
                                </tr>
                                <tr>
                                    <th>パスワード<span class="hissu">必須</span></th>
                                    <td>
                                        {{ form_widget(form.password.first, {
                                            'attr': { 'placeholder': 'common.password_sample'|trans({ '%min%': eccube_config.eccube_password_min_len, '%max%': eccube_config.eccube_password_max_len }) },
                                            'type': 'password'
                                        }) }}
                                        {{ form_errors(form.password.first) }}<br/>
                                        {{ form_widget(form.password.second, {
                                            'attr': { 'placeholder': 'common.repeated_confirm'|trans },
                                            'type': 'password'
                                        }) }}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="agreement">
                            <label>
                                {{ form_widget(form.user_policy_check) }}
                                <a class="btn-kind1" href="{{ url('help_agreement') }}"><span class="yubin">利用規約</span></a>に同意してお進みください
                            </label>
                        </div>
                        {% if form.user_policy_check.vars.data == false and form.user_policy_check.vars.valid == false %}
                        <p class="ec-errorMessage">同意していただく必要がございます。</p>
                        {% endif %}
                        <p class="btnSend"><button type="submit" class="ec-blockBtn--action" name="mode" value="confirm">同意する</button></p>
                    </form>
                </div>
            </div>
        </section>
    </article>
{% endblock %}

