{#
This file is part of EC-CUBE

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

http://www.ec-cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% extends 'default_frame.twig' %}

{% set mypageno = 'favorite' %}

{% set body_class = 'mypage' %}
{% block stylesheet %}
    <link rel="stylesheet" href="{{ asset('assets/css/toppage.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ asset('assets/css/contents.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ asset('assets/css/itms.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ asset('assets/css/sp_top.css') }}" type="text/css">
    <style>
        .page_list .name a:hover {
            color: red !important;
        }
    </style>
{% endblock %}

{% block main %}
    <article id="main_wrap" class="page_list">
        <div id="breadcrumb">
            <ul>
                <li><a href="{{ url('homepage') }}">ホーム</a></li>
                <li>マイページ</li>
            </ul>
        </div>
        <div class="ec-mypageRole page_mypage">
            {% include 'Mypage/navi.twig' %}
        </div>
        <section class="section">
            <div class="itemBox">
                <ul>
                    {% if pagination.totalItemCount > 0 %}
                    {% for FavoriteProduct in pagination %}
                        {% set Product = FavoriteProduct.Product %}
                        <li class="post-18088 post type-post status-publish format-standard category-item category-bouhan">
                            <a href="{{ url('product_detail', {'id': Product.id}) }}" title="{{ Product.name }}">
                                <p class="print">
                                    {% for productCategory in Product.getProductCategories if productCategory.Category.Parent != null and productCategory.Category.Parent.name == '印刷方法詳細' %}
                                        <img src="{{ asset('assets/img/' ~ productCategory.Category.image1) }}" alt="{{ productCategory.Category.name }}">
                                    {% endfor %}
                                </p>
                                <p class="image">
                                    <img width="500" height="500" src="{{ asset(Product.main_list_image|no_image_product, 'save_image') }}" class="attachment-medium size-medium" alt="{{ Product.name }}" loading="lazy" /> 
                                </p>
                                <div class="body">
                                    <div class="item_sku">
                                        <p class="cell item-no">{{ Product.getCodeMax }}</p>
                                        <a href="{{ url('mypage_favorite_delete', { id : Product.id }) }}" {{ csrf_token_for_anchor() }} data-method="delete">
                                            <img src="{{ asset('assets/img/common/star_minus.svg') }}" alt="">
                                        </a>
                                    </div>
                                    <p class="name">
                                        <a href="{{ url('product_detail', {'id': Product.id}) }}" title="{{ Product.name }}">{{ Product.name }}</a>
                                    </p>
                                    <div class="head">
                                        <p class="cell price"><span class="ttl">商品価格: </span>{{ Product.getPrice02Min|number_format }}<em class="tax">円(税別)/{{ Product.getPrice02IncTaxMin|number_format }}円(税込)</em></p>
                                    </div>
                                </div>
                            </a>
                        </li>
                    {% endfor %}
                    {% endif %}
                </ul>
            </div>
        </section>
        <div class="pagination_wrapper">
            {% include "pager.twig" with {'pages': pagination.paginationData} %}
        </div>
        <!-- .pagenation-wrapper -->
    </article>
{% endblock %}
